#welcom
	%h1= content_tag(:span, @article.title[0])+@article.title[1, @article.title.length-1]
	%br/
	!= @article.body
	- if @article.children != []
		- @article.children.each do |art|
			%p.intro
				= link_to truncate(art.title, :ommission => '...', :length => 50), article_path(art), :title => art.title
			.child-info
				=# 
			%div{:style=>"clear:both; margin: 10px; height: 10px;"}