<style type="text/css">
form#contact fieldset {
  padding: 10px 20px 20px 20px;
  margin: 0 auto;
  border: 0;
  background-color: #fff;
  width: 290px;
  text-align: left;
  border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0px 0px 10px #d3d3d3; 
  -webkit-box-shadow: 0px 2px 10px #d3d3d3; 
  box-shadow: 0px 0px 10px #d3d3d3; 
}

form#contact input[type="text"], input[type="url"], 
input[type="email"], input[type="tel"], textarea {
  margin: 3px 0 0 0;
  padding: 6px; 
  width: 260px; 
  font-family: arial, sans-serif; 
  font-size: 12px; 
  border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact textarea {
  width: 275px; 
  height: 150px;
}

form#contact label {
  display: block;
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  font-weight: bold;
}

form#contact label.error { 
  width: 270px;
  margin: 3px 0 0 0;
  display: block;
  color: #cf0101;                              
  font-size: 11px; 
  text-align: right;
}

form#contact .placeholder {
  color: #aaa;
}

form#contact .button {
  display: inline-block;
  margin: 15px 0 0 65px;
  padding: 5px 15px 5px 15px;
  background-color: #666;
  border: none;
  color: #fff;
font-weight: bold;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

form#contact .button:hover {
  background-color: #000;
  cursor: pointer;
}

form#contact .button:active {
  margin-top: 16px;
  background-color: #000;
  cursor: pointer;
}</style>
<script src="/assets/jquery.placeholder.js"></script><script src="/assets/modernizr-min.js"></script><script>
if (!Modernizr.input.placeholder){
 $('input[placeholder], textarea[placeholder]').placeholder();
}
</script><script src="/assets/jquery.form.js"></script><script src="/assets/jquery.validate.js"></script><script>
$(function(){
$('#contact').validate({
submitHandler: function(form) {
$(form).ajaxSubmit({
url: '/question',
success: function() {
$('#contact').hide();
$('#contact-form').append("<p class='thanks' style='font-weight:bold'>Спасибо! Ваше сообщение был отправлено.<br />В самое ближайшее время с Вами свяжется наш менеджер.</p>")
}
});
}
});
});
</script>
<div id="contact-form" style="float:left;width:300px;">
  <form action="" id="contact" method="post">
    <fieldset>
      <label for="name">Имя</label> <input class="required" name="name" placeholder="Ваше имя" title="Укажите Ваше имя" type="text" /> <label for="email">E-mail</label> <input class="required email" name="email" placeholder="yourname@domain.ru" title="Укажите адрес электронной почты" type="email" /> <label for="phone">Телефон</label> <input name="phone" placeholder="(900) 888-88-88" type="tel" /> <label for="message">Текст сообщения</label><textarea name="message"></textarea><input class="button" id="submit" name="submit" type="submit" value="Отправить сообщение" /></fieldset>
  </form>
</div>
<div style="margin-left:320px;">
  <p style="text-align: center;width:100%; ">
    телефон в Воронеже: <strong>(473) 239-04-48</strong></p>
  <p style="text-align: center;width:100%; ">
    мобильный: <strong>8-905-051-88-68</strong></p>
  <p style="text-align: center;width:100%; ">
    email: <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%5c%22%6d%61%69%6c%74%6f%3a%61%64%6d%69%6e%40%6d%6c%69%70%2e%72%75%3f%73%75%62%6a%65%63%74%3d%25%44%30%25%42%46%25%44%30%25%42%38%25%44%31%25%38%31%25%44%31%25%38%43%25%44%30%25%42%43%25%44%30%25%42%45%25%32%30%25%44%30%25%42%32%25%32%30%25%44%30%25%42%32%25%44%30%25%42%35%25%44%30%25%42%31%2d%25%44%31%25%38%31%25%44%31%25%38%32%25%44%31%25%38%33%25%44%30%25%42%34%25%44%30%25%42%38%25%44%31%25%38%45%5c%22%20%74%69%74%6c%65%3d%5c%22%d0%bd%d0%b0%d0%bf%d0%b8%d1%81%d0%b0%d1%82%d1%8c%20%d0%bf%d0%b8%d1%81%d1%8c%d0%bc%d0%be%20%d0%b2%20%d0%b2%d0%b5%d0%b1%2d%d1%81%d1%82%d1%83%d0%b4%d0%b8%d1%8e%5c%22%3e%61%64%6d%69%6e%40%6d%6c%69%70%2e%72%75%3c%5c%2f%61%3e%27%29%3b'))</script></p>
  <p style="text-align: center;width:100%; ">
    &nbsp;</p>
  <p style="text-align: center;width:100%; ">
    г. Воронеж, ул. Свободы 75</p>
  <p style="text-align: center;width:100%; ">
    &nbsp;</p>
  <p style="text-align: center;width:100%; ">
    &nbsp;</p>
</div>
